.hello {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background: gray;
  text-align: center;

  & span {
    background: #2c7a2c;
  }
}

.red {
  background: #8c3b3b;
}

.blue {
  background: #424266;
}
